.example-card {
  max-width: 200px;
  height: 400px;
  margin: 10px;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-title {
  font-size: 15px;
}
